<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="card mt-5">
    <div class="card-body colorsito">
        <h6 class="text-center titulo-seccion">
            Registro de citas
        </h6>
        <!-- Cuando el evento onSubmit , suceda se va pasar todo el formulario 'CitasForm' -->
        <form #CitasForm="ngForm" (ngSubmit)="onSubmit(CitasForm)">

            <!-- TO UPDATE -->
            <input type="hidden" name="idCi" #idC="ngModel" [(ngModel)]="CitasServicio.selectedCitas.idCi">

            <div class="form-group">
            
                <select class="form-control" name="paciente"  [(ngModel)]="CitasServicio.selectedCitas.paciente"required>
                    <option value="" [selected]="true">Seleccione</option>
                    <option *ngFor="let cliente of clienteLista" value="{{cliente.nombre}}" > {{cliente.nombre}}</option>
                  </select>
              </div>
        
        <div class="form-group">
            <input type="date" class="form-control" name="fechaCita" #location="ngModel"  
                [(ngModel)]="CitasServicio.selectedCitas.fechaCita" placeholder="Fecha Cita">
        </div>
        <div class="form-group">
            
            <select class="form-control" name="hora"  [(ngModel)]="CitasServicio.selectedCitas.hora"required>
                <option value="" selected >Seleccione la hora para la cita</option>
                <option value="8:00 am a 8:30 am"> 8:00 am a 8:30 am</option>
                <option value="8:30 am a 9:00 am"> 8:30 am a 9:00 am</option>
                <option value="9:00 am a 9:30 am">9:00 am a 9:30 am</option>
                <option value="9:30 am a 10:00 am"> 9:30 am a 10:00 am</option>
                <option value="10:00 am a 10:30 am"> 10:00 am a 10:30 am</option>
                <option value="10:30 am a 11:00 am"> 10:30 am a 11:00 am</option>
                <option value="11:00 am a 11:30 am"> 11:00 am a 11:30 am</option>
                <option value="11:30 am a 12:00 am"> 11:30 am a 12:00 pm</option>
                <option value="8:00 am a 8:30 am"> 1:00 pm a 1:30 pm</option>
                <option value="8:30 am a 9:00 am"> 1:30 pm a 2:00 pm</option>
                <option value="9:00 am a 9:30 am">2:00 pm a 2:30 pm</option>
                <option value="9:30 am a 10:00 am"> 2:30 pm a 3:00 pm</option>
                <option value="10:00 am a 10:30 am"> 3:00 pm a 3:30 pm</option>
                <option value="10:30 am a 11:00 am"> 3:30 pm a 4:00 pm</option>
                <option value="11:00 am a 11:30 am"> 4:00 pm a 4:30 pm</option>
                <option value="11:30 am a 12:00 am"> 4:30 pm a 5:00 pm</option>
              </select>
          </div>
        <div class="form-group">
            <input   type="number" class="form-control" name="valor" #location="ngModel"
                [(ngModel)]="CitasServicio.selectedCitas.valor" placeholder="Valor" min="0" step="0.01"  >
              
        </div>
            <div class="form-inline">
                <button class="btn btn-outline-primary mb-2" type="submit">
                    <i class="fas fa-plus-circle"></i> Agregar Citas
                </button>
                <button class="btn btn-outline-dark mx-sm-3 mb-2" type="reset" (click)="reinicioForm(CitasForm)">
                    <i class="fas fa-sync-alt"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>

<app-citas-listas></app-citas-listas>
</body>
</html>