<br>
<div class="card">
    <div class="card-body colorsito">
        <h6 class="text-center titulo-seccion">
            lista de proveedores de mascotas
        </h6><br>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Prove of ProveLista" class="table-secondary">             
                        <td>{{Prove.nombre}}</td>
                        <td>
                            <a class="btn btn-secondary text-white" (click)="onEdit(Prove)">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="btn btn-danger text-white mx-3" (click)="onDelete(Prove.idPr)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>