.titulo-seccion{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.colorsito{
    background-color: bisque;
}