<br>
<div class="card">
    <div class="card-body colorsito">
        <h6 class="text-center titulo-seccion">
            Lista de Mascotas registradas
        </h6>
        <div class="btn-group">
            <input type="text" class="form-control" placeholder="buscar por Propietario" id="buscar" [(ngModel)]='buscar'>
            <button class="btn btn-primary"  (click)="consulClie();">Buscar</button>
            <!--<button class="btn btn-primary"  (click)="mostrarRegistro();">Recargar</button>-->
        </div>  
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Raza</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Propietario</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let Cliente of ClienteLista">       
                        <td>{{Cliente.nombre}}</td>
                        <td>{{Cliente.raza}}</td>
                        <td>{{Cliente.edad}}</td>
                        <td>{{Cliente.prop}}</td>
                        <td>
                            <a class="btn btn-secondary text-white" (click)="onEdit(Cliente)">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="btn btn-danger text-white mx-3" (click)="onDelete(Cliente.idC)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>