<br>
<div class="card">
    <div class="card-body colorsito">
        <h6 class="text-center titulo-seccion">
            lista de Productos
        </h6><br>
        <div class="btn-group colorsito">
            <input type="text" class="form-control" placeholder="buscar por nombre" id="buscar" [(ngModel)]='buscar'>
            <button class="btn btn-primary"  (click)="consulProdu();">Buscar</button>
            <button class="btn btn-primary"  (click)="mostrarRegistro();">Recargar</button>
        </div><br><br>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha Vencimiento</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Productos of ProductosLista">      
                        <td>{{Productos.nombre}}</td>
                        <td>{{Productos.proveedor}}</td>
                        <td>{{Productos.precio}}</td>
                        <td>{{Productos.cantidad}}</td>
                        <td>{{Productos.fechaVenci | date:'dd'}}/{{Productos.fechaVenci | date:'MM'}}/{{Productos.fechaVenci | date:'yyyy'}}</td>
                        <td>
                            <a class="btn btn-secondary text-white" (click)="onEdit(Productos)">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="btn btn-danger text-white mx-3" (click)="onDelete(Productos.idP)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
